Body{
    font-family: Arial;
    Background:#999;
    background-image: url("https://media.sticker.market/gif/vortex-58858b71d35eb204c3880086-g.gif");
    Background-repeat:no-repeat;
    background-size: cover
    
}